<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Visualization Dashboard</title>

  <!-- Boostrap Stylesheet -->
  <link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}} media="screen">
    
  <!-- Our own CSS stylesheet -->
  <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}} media="screen">

  </head>

  <body>
    <!-- Start of navbar -->
 <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="#">Dancing Dolphin</a> -->
        <!-- <img src="assets/images/logo.jpg" alt="" id="description-image" width="800" /> -->
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tracks <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="page1.html">page 1</a></li>
                  <li><a href="visualizations.html">Music performance </a></li>
                  <!-- <li><a href="Genre by Decade.html">Genre by Decade</a></li> -->
                  <!-- <li><a href="page 4.html">page 4</a></li> -->
                </ul>
              </li>
              <li><a href="../comparison.html">demographics</a></li>
              <li><a href="../data.html">Data</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-md-12">
          <article class="description-content">
            <h1 class="description-header">Visualizations</h1>
            <hr class="description-hr"/>
            <img src="../static/images/Genre by decade.png" alt="" class="img-responsive"/>
            <img src="../static/images/ML_fig1.png" alt="" class="img-responsive"/>
            <p>.</p>
          </article>
        </div>
        <div class="col-md-4">

          <!-- Start of Visualizations imageNav Area -->
          <!-- <section id="imageNav-area">
            <div class="imageNav-content">
              <h2 class="imageNav-header">Visualizations</h2>
              <hr />
              <div id="images">
               
              </div>
            </div>
          </section>
          <!-- End of the Visualizations imageNav Area -->

        </div>
      </section>
    </div>
    <!-- End of container -->

    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        USC Viterbi Data Bootcamp
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>

</html>
